<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico - <%= nmDisciplina %>
    </title>
</head>
<body>
    <button onclick="history.back()" class="voltar">Voltar</button>
    <% raOrdenado.forEach(ra=> { %>
        <h2><%= nome[ra]%> | RA: <%= ra %> </h2>
        <ul>
            <% if (faltasPorAluno[ra] != null) { %>
                <% (faltasPorAluno[ra] || []).forEach((falta, index)=> { %>
                    <li>Falta <%= index + 1 %>: <%= falta %>
                    </li>
                    <% }); %>
                        <% } else {%>
                            <li>Faltas: 0
                                    <% } %>
        </ul>
        <% }); %>
</body>

</html>