<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="cssAdm/editar.css">
    <link rel="stylesheet" href="css/global.css">
    <title>Editar Curso</title>
</head>

<body>
    <button onclick="history.back()">Voltar</button>

    <input type="text" id="procura" onkeyup="myFunction()" placeholder="Insira o nome do curso:">

    <ul id="cursos">
        <% for(var i=0; i < nm_curso.length; i++){%>
            <li>
                <div style="display:inline" class="curso">
                    <a>
                        <%= nm_curso[i] %>
                    </a> <button onclick="confirmDelete('<%= id_curso[i] %>')">&#9747</button> <button
                        class="alternarVisib">&#9998</button>
                    <span class="editar">
                        <form id="editarCurso<%=i%>">
                            <h1>Editar Curso <%= nm_curso[i] %>:</h1>

                            <input id="id<%= id_curso[i]%>" name="id" value="<%= id_curso[i]%>" hidden>
                            <label for="nomeC">Nome: <span class="ponto">*</span></label>

                            <input type="text" value="<%= nm_curso[i] %>" disabled>
                            <input type="text" id="nomeC" name="nomeC" required>

                            <label for="sigla">Sigla: <span class="ponto">*</span></label>
                            <input type="text" value="<%= sg_curso[i] %>" disabled>
                            <input type="text" id="sigla" name="sigla" required>

                            <label for="descricao">Descrição:</label>
                            <textarea disabled placeholder="<%= ds_curso[i] %>" rows="1" cols="30"></textarea>
                            <textarea name="descricao" id="descricao" rows="1" cols="30"></textarea><br>

                            <button type="submit">Enviar</button>

                            <div class="messageCurso"></div>
                        </form>
                    </span>

                </div>
            </li><br>
            <% } %>
                <div id="messageExcluir"></div>
    </ul>

    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('procura');
            filter = input.value.toUpperCase();
            ul = document.getElementById("cursos");
            li = ul.getElementsByTagName('li');

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        document.querySelectorAll('.alternarVisib').forEach(button => {
            button.addEventListener('click', function () {
                const editarDiv = this.nextElementSibling;

                document.querySelectorAll('.editar').forEach(div => {
                    if (div !== editarDiv)
                        div.classList.remove('mostrar');
                });

                editarDiv.classList.toggle('mostrar');
            });
        });

        function confirmDelete(idCurso) {
            if (confirm("Deseja realmente excluir o curso?")) {
                fetch('/deletarCurso', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: idCurso })
                })
                    .then(response => response.json())
                    .then(data => {
                        const messageDiv = document.getElementById('messageExcluir');
                        if (data.success) {
                            messageDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
                            setTimeout(() => {
                                window.location.href = ('/criar');
                            }, 1500);
                        } else {
                            messageDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
                        }
                    })
            } else {
                alert('Exclusão de curso cancelada!');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const forms = document.querySelectorAll('form[id^="editarCurso"]');
            forms.forEach(function (form) {
                form.addEventListener('submit', function (e) {
                    e.preventDefault();

                    const formData = new FormData(this);
                    const formObject = {};
                    formData.forEach((value, key) => formObject[key] = value);

                    fetch('/editarCurso', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formObject)
                    })
                        .then(response => response.json())
                        .then(data => {
                            const messageDiv = this.querySelector('.messageCurso');
                            if (data.success) {
                                messageDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
                                alert('Atualize a página para ver os resultados!')
                            } else {
                                messageDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
                            }
                        })
                        .catch(error => {
                            console.error('Erro ao enviar o formulário:', error);
                            document.getElementById('message').innerHTML = `<p style="color: red;">Erro inesperado.</p>`;
                        });
                });
            });
        });


    </script>

</body>

</html>
