<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Curso</title>
    <style>
        /* informações ao passar o mouse por cima!
        Colocar em uma pagína CSS e estilizar melhor */
        .disciplina .editar {
            visibility: hidden;
            position: absolute;
        }

        .disciplina .editar.mostrar {
            visibility: visible;
        }
    </style>
</head>

<body>
    <button onclick="history.back()">Voltar</button>

    <input type="text" id="procura" onkeyup="procura()" placeholder="Insira o nome da disciplina:">
    <div id="messageExcluir"></div>

    <ul id="disciplinas">
        <% for(var i=0; i < nm_disciplina.length; i++){%>
            <li>
                <div style="display:inline" class="disciplina">
                    <a>
                        <%= nm_disciplina[i] %> | <%= sg_curso[i] %>
                    </a> <button onclick="confirmDelete('<%= id_disciplina[i] %>')">&#9747</button> <button
                        class="alternarVisib">&#9998</button>
                    <span class="editar">
                        <form id="editarDisciplina<%=i%>">
                            <h1>Editar Disciplina <%= nm_disciplina[i] %>:</h1>
                            <input id="id<%= id_disciplina[i]%>" name="id" value="<%= id_disciplina[i]%>" hidden>
                            <label for="nomeD">Nome: <span style="color: red;">*</span></label>
                            <input type="text" value="<%= nm_disciplina[i] %>" disabled>
                            <input type="text" id="nomeD" name="nomeD" required>

                            <label for="semestre">Semestre: <span style="color: red;">*</span></label>
                            <input type="text" value="<%= qt_semestre[i] %>" disabled>
                            <input type="number" min="1" max="6" id="semestre" name="semestre" required>

                            <label for="curso">Curso: <span style="color: red;">*</span></label>
                            <select disabled>
                                <option>
                                    <%= sg_curso[i] %>
                                </option>
                            </select>
                            <select name="curso" id="curso">
                                <option value=1>ADS</option>
                                <option value=2>PQ</option>
                                <option value=3>COMEX</option>
                                <option value=4>GE</option>
                                <option value=5>DSM</option>
                            </select>

                            <label for="professor">Professor: </label>
                            <input type="text" value="<%= nm_professor[i] %>" disabled>
                            <input type="text" id="professor" name="professor" value=" ">

                            <button type="submit">Enviar</button>

                            <div class="messageCurso"></div>
                        </form>
                    </span>

                </div>
            </li><br>
            <% } %>
    </ul>

    <script>
        function procura() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('procura');
            filter = input.value.toUpperCase();
            ul = document.getElementById("disciplinas");
            li = ul.getElementsByTagName('li');

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        document.querySelectorAll('.alternarVisib').forEach(button => {
            button.addEventListener('click', function () {
                const editarDiv = this.nextElementSibling;

                document.querySelectorAll('.editar').forEach(div => {
                    if (div !== editarDiv)
                        div.classList.remove('mostrar');
                });

                editarDiv.classList.toggle('mostrar');
            });
        });

        function confirmDelete(idDisciplina) {
            if (confirm("Deseja realmente excluir essa disciplina?")) {
                fetch('/deletarDisciplina', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: idDisciplina })
                })
                    .then(response => response.json())
                    .then(data => {
                        const messageDiv = document.getElementById('messageExcluir');
                        if (data.success) {
                            messageDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
                            setTimeout(() => {
                                window.location.href = ('/criar');
                            }, 1500);
                        } else {
                            messageDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
                        }
                    })
            } else {
                alert('Exclusão de disciplina cancelada!');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const forms = document.querySelectorAll('form[id^="editarDisciplina"]');
            forms.forEach(function (form) {
                form.addEventListener('submit', function (e) {
                    e.preventDefault();

                    const formData = new FormData(this);
                    const formObject = {};
                    formData.forEach((value, key) => formObject[key] = value);

                    fetch('/editarDisciplina', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formObject)
                    })
                        .then(response => response.json())
                        .then(data => {
                            const messageDiv = this.querySelector('.messageCurso');
                            if (data.success) {
                                messageDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
                            } else {
                                messageDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
                            }
                        })
                        .catch(error => {
                            console.error('Erro ao enviar o formulário:', error);
                            document.getElementById('message').innerHTML = `<p style="color: red;">Erro inesperado.</p>`;
                        });
                });
            });
        });


    </script>

</body>

</html>
